:root{
	--color-neutral-black: #263238;
	--color-neutral-dGrey: #4d4d4d;
	--color-neutral-grey: #717171;
	--color-neutral-lGrey: #89939E;
	--color-neutral-greyBlue: #ABBED1;
	--color-neutral-silver: #F5F7FA;
	--color-neutral-white: #FFFFFF;

	--color-primary: #4CAF4F;
	--color-secondary: #263238;
	--color-info: #2194f3;

	--fontFamily: "Inter", sans-serif;
  --font-styles-title: 600 4rem/4.75rem var(--fontFamily);
  --font-styles-subtitle: 600 2.25rem/2.75rem var(--fontFamily);
  --font-styles-headline3: 700 1.75rem/2.25rem var(--fontFamily);
  --font-styles-headline4: 600 1.25rem/1.75rem var(--fontFamily);

  --font-styles-body1: 400 1.1125rem/1.75rem var(--fontFamily);
  --font-styles-body2: 400 1rem/1.5rem var(--fontFamily);
  --font-styles-body3: 400 0.875rem/1.25rem var(--fontFamily);
  --font-styles-body4: 400 0.75rem/1rem var(--fontFamily);
}

header{
  width: 70vw;
  display: flex;
  margin: 0 auto;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  padding: 20px;
}

.nav-main,.nav-list{
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-list li a{
  font: var(--font-styles-body2);
  transition: .3s;
}

.nav-list li a:hover{
  color: var(--color-primary);
}
